body {
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-color:rgba(255,255,255, 0.2);
    -webkit-text-stroke-width: 1px;
    width: 100%;
	height: 100%;
    margin: 0;
    padding: 0;
}

#loading-screen-wrapper {
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#loading-screen {
    font-size: 1.3em;
    width: 100%;
    top: 50%;
    position: absolute;
    text-align: center;
}

body{
	text-align: justify;
	background:url("estimote.jpg");
	background-size:500%;
}
section{
	background-color:rgba(255,255,255, 0.6);
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
	padding:10px;
	padding-bottom: 30px;
	border: 5px solid white;
	border-radius:30px;
}

h2{
margin-top: 20px;
margin-bottom: 100px;
}

#button h2 {
    padding: 14px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
  }
