body {
    text-align: center;
}

#header h1 {
    text-align: center;
}

#loading-screen-wrapper {
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#loading-screen {
    font-size: 1.3em;
    width: 100%;
    top: 50%;
    position: absolute;
    text-align: center;
}

#start-new-game, #beacons-not-found, #question {
    display: none;
}

/*#question .item-complex .item-content, #question .item-radio .item-content {
    padding-left: 64px;
}*/

#content {
    margin-top: 15px;
}

#question .fa.current {
    float: right;
}