body {
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-color:rgba(255,255,255, 0.2);
    -webkit-text-stroke-width: 1px;
}

#header h1 {
    text-align: center;
}

#loading-screen-wrapper {
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#loading-screen {
    font-size: 1.3em;
    width: 100%;
    top: 50%;
    position: absolute;
    text-align: center;
}

#start-new-game, #beacons-not-found, #question {
    display: none;
}

/*#question .item-complex .item-content, #question .item-radio .item-content {
    padding-left: 64px;
}*/

#content {
    margin-top: 15px;
}

#question .fa.current {
    position: absolute;
    left: 23px;
    top: 18px;
}

h1.question-name {
    margin-top: 0;
}

#left-arrow, #right-arrow {
    padding-top: 30px;
}

#right-arrow {
    text-align: right;
}

#left-arrow {
    text-align: left;
}

#left-arrow .fa, #right-arrow .fa {

}